---
import Layout from '@layouts/layout.astro';
import { getCollection } from 'astro:content';

import { format, formatISO } from 'date-fns';
import {categories } from '@lib/constants';

import 'github-markdown-css/github-markdown-light.css';

export async function getStaticPaths({}) {
  const blogPosts = await getCollection('blog')
  return blogPosts.map((post) => {
    return { params: { slug: post.slug }, props: { post: post } };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();

const {
  data: { title, pubDate, image, category, description }, 
} = post;
const pubDateISO = formatISO(pubDate);
const pubDateJA = format(pubDate, 'yyyy-MM/dd')
---

<Layout pageTitle={title} description={description} pageImg={image}>
  <article>
    <img src={image} alt=""/>
    <h1>{title}</h1>

    <div class="flex-spacebetween">
      <time datetime={pubDateISO}>{pubDateJA}</time>

      <div class="flex">
        {
          category.map((categorySlug) => {
            const categoryName = categories.find(
              (cat) => cat.categorySlug === categorySlug
            ).categoryName;
            return (
              <a rel="prefetch" href={`/blog/category/${categorySlug}`}>{categoryName}</a>
            );
          })
        }
      </div>
    </div>
    <div>
      <Content />
    </div>
  </article>
</Layout>
