---
import Layout from '@layouts/layout.astro';
import Pagination from '@components/pagination.astro';

import { getCollection } from 'astro:content';

import { format, formatISO, compareDesc } from 'date-fns';
import { categories } from '@lib/constants';


import markdownToHtml from 'zenn-markdown-html';
import 'zenn-content-css';

export async function getStaticPaths({}) {
	const blogPosts = await getCollection('blog');
	const sortedBlogPosts = blogPosts.sort((a, b) =>
		compareDesc(a.data.pubDate, b.data.pubDate)
	);
	const numberOfPosts = blogPosts.length;

	return sortedBlogPosts.map((post) => {
		const { slug } = post;
		const currentPage = sortedBlogPosts.findIndex((post) => post.slug === slug);

		// 古い記事へ → インデックス増
		const prev =
			currentPage + 1 >= numberOfPosts
				? {}
				: {
						prevTitle: sortedBlogPosts[currentPage + 1].data.title,
						prev: `/blog/${sortedBlogPosts[currentPage + 1].slug}`,
				  };

		// 新しい記事へ → インデックス減
		const next =
			currentPage - 1 < 0
				? {}
				: {
						nextTitle: sortedBlogPosts[currentPage - 1].data.title,
						next: `/blog/${sortedBlogPosts[currentPage - 1].slug}`,
				  };

		return { params: { slug }, props: { post, url: { ...prev, ...next } } };
	});
}

const { post, url } = Astro.props;

const {
	body,
	data: { title, pubDate, image, category, description },
} = post;
const pubDateISO = formatISO(pubDate);
const pubDateJA = format(pubDate, 'yyyy年MM月dd日');

const html = import.meta.env.PROD
	? markdownToHtml.default(body)
	: markdownToHtml(body);

---
<Layout pageTitle={title} description={description} pageImg={image}>
	<article>
		
		<h1 class="text-center">{title}</h1>

		<div class="flex-container">
			<div class="tag-container">
				{
					category.map((categorySlug) => {
						const categoryName = categories.find(
							(cat) => cat.categorySlug === categorySlug
						).categoryName;
						return (
							<a rel="prefetch" href={`/blog/category/${categorySlug}`} class="tag">
								{categoryName}
							</a>
						);
					})
				}
			</div>

			<time datetime={pubDateISO}>{pubDateJA}</time>
		</div>

		<div class="znc large-space">
			<Fragment set:html={html} />
		</div>

		<Pagination {...url} />
	</article>
</Layout>
<style>
	.text-center {
		text-align: center;
	}
	.flex-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.tag-container {
		display: flex;
		justify-content: center;
		flex-grow: 1;
	}
	.tag {
		margin: 0 5px;
	}
</style>